*{
    margin: 0px;
    font-family: 'inter';
}

#title-header{
    margin-left: 62px;
    margin-top: 80px;
    font-size: 40px;
    color: white;   
}

#text-header{
    margin: 15px 0px 70px 62px;
    font-size: 14px;
    color: white;
}

header{
    background-color: #303030;
    padding: 40px;
}

section{
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    justify-content: space-evenly;
}

.section-element{
    margin-top: 50px;
    margin-bottom: 50px;
}

main{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    justify-content: space-evenly;
}

#text-main{
    margin-top: 250px;
}

#image-main{
    width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

footer{
    background-color: #303030;
    text-align: center;
    padding: 50px;
}

#text-footer {
    font-size: 25px;
    margin: 25px;
    color: white;
}

input{
    width: 300px;
    height: 40px;
    margin: 20px;
    border: 0px;
    border-radius: 8px;
    font-family: 'raleway';
    font-weight: bolder;
    padding-left: 12px;
}

button{
    background-color:#C07212;
    height: 40px;
    width: 150px;
    color: white;
    border: 0px;
    border-radius: 8px;
    margin-top: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #9a5e14;
    color: #eaece5;
    transform:translateY(-9px);
    box-shadow: 0px 15px 20px #f9f9f91b;
}